# Pulling .json Files from Tempe Opioid Wastewater Collection 
https://www.arcgis.com/home/item.html?id=93ee24cbf945405c8469742555670fc5#data
The data that is collected and stored via this code is pulled from the query requests for the data within the charts on the dashboard.

Maddie Warndorf

In [17]:
#packages needed
import requests
import pandas as pd
import feedparser
from bs4 import BeautifulSoup
import urllib.request
import urllib3
import json
from pandas.io.json import json_normalize

**Area TP04**

In [53]:
url = 'https://services.arcgis.com/lQySeXwbBg53XWDi/arcgis/rest/services/Wastewater_Study_Areas/FeatureServer/1/query?f=json&outFields=*&returnGeometry=false&where=Site%3D%27TP04%27'
resp = requests.get(url)
print(resp)

data_raw = resp.json()
data_raw.keys()

<Response [200]>

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'fields', 'features'])

In [58]:
data_raw['features']
tp04_data = pd.io.json.json_normalize(data_raw['features'])
#tp04_data

In [59]:
tp04_data.columns = ["Chemical","Concentration_ng_L_Error","Concentration_ng_L_Value","Day","Mass_Load_g_d_Error","Mass_Load_g_d_Value","Month","OBJECTID","Population_Normalized_Mass_Lo_1","Population_Normalized_Mass_Load","Sample_Date","Site"]

In [60]:
from datetime import datetime
import math 

times = []
for t in tp04_data["Sample_Date"]:
    t1 = str(t)
    t2 = t1[0:10]
    t2 = int(t2)
    time = datetime.fromtimestamp(t2)
    times.append(time)
tp04_data["Sample_Date"] = times

In [61]:
tp04_data.to_csv(r'tp04waterdata.csv')

**Area 2**

In [62]:
url = 'https://services.arcgis.com/lQySeXwbBg53XWDi/arcgis/rest/services/Wastewater_Study_Areas/FeatureServer/1/query?f=json&outFields=*&returnGeometry=false&where=Site%3D%27TP02%27'
resp = requests.get(url)
print(resp)

data_raw = resp.json()
data_raw.keys()

<Response [200]>

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'fields', 'features'])

In [70]:
data_raw['features']
tp02_data = pd.io.json.json_normalize(data_raw['features'])
tp02_data.columns = ["Chemical","Concentration_ng_L_Error","Concentration_ng_L_Value","Day","Mass_Load_g_d_Error","Mass_Load_g_d_Value","Month","OBJECTID","Population_Normalized_Mass_Lo_1","Population_Normalized_Mass_Load","Sample_Date","Site"]

In [71]:
times = []
for t in tp02_data["Sample_Date"]:
    t1 = str(t)
    t2 = t1[0:10]
    t2 = int(t2)
    time = datetime.fromtimestamp(t2)
    times.append(time)
tp02_data["Sample_Date"] = times
tp02_data.head()

In [73]:
tp02_data.to_csv(r'tp02waterdata.csv')

**Area 5**

In [74]:
url = 'https://services.arcgis.com/lQySeXwbBg53XWDi/arcgis/rest/services/Wastewater_Study_Areas/FeatureServer/1/query?f=json&outFields=*&returnGeometry=false&where=Site%3D%27TP05%27'
resp = requests.get(url)
print(resp)

data_raw = resp.json()
data_raw.keys()

<Response [200]>

dict_keys(['objectIdFieldName', 'uniqueIdField', 'globalIdFieldName', 'fields', 'features'])

In [75]:
data_raw['features']
tp05_data = pd.io.json.json_normalize(data_raw['features'])
tp05_data.columns = ["Chemical","Concentration_ng_L_Error","Concentration_ng_L_Value","Day","Mass_Load_g_d_Error","Mass_Load_g_d_Value","Month","OBJECTID","Population_Normalized_Mass_Lo_1","Population_Normalized_Mass_Load","Sample_Date","Site"]

In [76]:
times = []
for t in tp05_data["Sample_Date"]:
    t1 = str(t)
    t2 = t1[0:10]
    t2 = int(t2)
    time = datetime.fromtimestamp(t2)
    times.append(time)
tp05_data["Sample_Date"] = times
tp05_data.head()

,Chemical,Concentration_ng_L_Error,Concentration_ng_L_Value,Day,Mass_Load_g_d_Error,Mass_Load_g_d_Value,Month,OBJECTID,Population_Normalized_Mass_Lo_1,Population_Normalized_Mass_Load,Sample_Date,Site
0,Oxycodone,5.33,66.98,(1) Mon,0.00,0.05,(05) May,687,0,16.0,2018-05-14 03:00:00,TP05
1,Oxycodone,1.37,59.28,(2) Tue,0.00,0.04,(05) May,688,0,14.0,2018-05-15 03:00:00,TP05
2,Oxycodone,12.73,109.41,(3) Wed,0.01,0.07,(05) May,689,0,26.0,2018-05-16 03:00:00,TP05
3,Oxycodone,0.10,28.10,(4) Thu,0.00,0.02,(05) May,690,0,6.0,2018-05-17 03:00:00,TP05
4,Oxycodone,5.94,81.24,(5) Fri,0.00,0.05,(05) May,691,0,17.0,2018-05-18 03:00:00,TP05

In [77]:
tp05_data.to_csv(r'tp05waterdata.csv')